<% content_for :content do %>
<div class="container">
	    <div class="row">
            <div class="col-md-9 ">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#337AB7; color:white;">
                        <h4>Kết quả tìm kiếm được với từ khóa:<%=@key%></h4>
                    </div>
                    <%@equal.each do |new|%>
                     <div class="row-item row">
                        <div class="col-md-3">

                            <a href="detail.html">
                                <br>
                                <img width="200px" height="200px" class="img-responsive" src="image/320x150.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <h3><%=new.title%></h3>
                            <p><%=new.description%></p>
                            <a class="btn btn-primary" href="detail.html">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                        <div class="break"></div>
                    </div>
                    <%end%>
                   
                </div>
            </div> 
        </div>
</div>
<%end%>